.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:300px auto; 
  
}
body{
  padding:0;
  margin:0;
}

/* --------------------Header---------------------------- */

.header{
  background-color: rgb(2, 59, 7);
  color:#fff;
  display: flex;
  flex-wrap: wrap;   
  justify-content: right;
  align-items: baseline;
  width: 100vw;
  margin-top: 0;;
}

.search-bar{
  margin-right: 60px;
}
.lan-button{
    margin-right: 100px;
}
.lan-button-en{
    margin:15px;
}


